
/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0000FF;
  padding: 10px 20px;
  color: white;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
}
nav ul li a {
  color: white;
  text-decoration: none;
}
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10% 0 10%;
  background-color: white;

}
.hero-text {
  max-width: 80%;
  font-size: 2rem;
}
.hero-image img {
  width: 400px;
  border-radius: 10px;
}
.achievements {
  background: #e0e0e0;
  padding: 20px;
  text-align: center;
}
.cards {
  display: flex;
  justify-content: space-around;
  
}
.card {
  background: blue;
  color: white;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  width: 30%;
}
footer {
  text-align: center;
  padding: 10px;
  background: #0000FF;
  color: white;
}

footer a {
  color: white;
  text-decoration: none;

}
